@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.experienceContent {
    margin-left: 280px;
    margin-bottom: 35px;
    padding: 40px 40px 40px 50px;
    font-family: sans-serif;
}

.experienceContent h1 i {
    color: #16a085;
}
.experienceContent h1 {
    font-family: Aclonica, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 0px 0px 3px 5px;
    margin-top: 20px;
    border-bottom: 3px solid #16a085;
    border-radius: 2px;
    width: 200px;

}

/*Experience Section*/
.experienceSection {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8%;
    margin-bottom: 40px;
}

.experienceInfo {
    color: #fff;
    margin: 5px 0px 0px 25px;
    width: 350px;
    margin-top: 20px;

}

.experienceInfo hr {
    height: 0.5px;
    background-color: #595959;
    border: none;
}

.experienceInfo a:visited, .experienceInfo a:active, .experienceInfo a {
    color: inherit;
}

/*Education Section*/
.education {
    width: auto;
}

.education p {
    margin-left: 20px;
}

/*Certifications Section*/
.certifications {
    margin: 5px 0px 0px 25px;
}
.certifications img {
    width: 100px;
    padding: 10px 15px 15px 0px ;
}

@media (max-width: 790px) {
    .experienceContent {
        margin-left: 0px;
        padding: 50px 40px 20px 50px;
    }

    .experienceContent h1, .experienceSection {
        margin-right: 0;
    }
  }