@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Quicksand&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Quicksand:wght@300;400&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Antique&display=swap');

.aboutContent {
    margin-left: 280px;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    color: #f2f3f7;
    padding: 15px 60px 0px;
}

.aboutContentBottom {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.aboutContentBottom img {
    height: 150px;
    box-shadow: 3px 5px 3px #595959;
    border-radius: 15px;
    transform: rotate(-13deg);
}
.aboutMe {
    padding-left: 100px;
    padding-top: 50px;
    animation-duration: 6s;
}

.aboutMe h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}
.aboutMe p {
    font-size: 18px;
    line-height: 24.5px;
    font-family: "Quicksand", sans-serif;
}

.imgContent {
    text-align: center;
    padding: 13px 130px 0px 30px;
    animation-duration: 2s;
}

.imgContent img {
    height: 75vh;
}