@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Quicksand&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Quicksand:wght@300;400&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Antique&display=swap');

.aboutContent {
    margin-left: 280px;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    color: #f2f3f7;
}

.aboutContentBottom {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.aboutContentBottom img {
    height: 150px;
    box-shadow: 3px 5px 3px #595959;
    border-radius: 15px;
    transform: rotate(-13deg);
}
.aboutMe {
    padding-left: 100px;
    padding-top: 50px;
}

.aboutMe h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}
.aboutMe p {
    font-size: 21.5px;
    line-height: 28px;
    font-family: "Quicksand", sans-serif;
}

.imgContent {
    text-align: center;
    padding-right: 130px;
    padding-left: 30px;
}

.imgContent img {
    height: 75vh;
}