@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Quicksand&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Antique&display=swap');

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f3f7;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center; 
  }

  .sidenav h1 {
    font-family: Aclonica,sans-serif;
    font-size: 22px;
    margin: 0;
  }
  
  .sidenav a {
    line-height: 37px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color:#000;
    font-size: larger;
    font-weight: bolder;
    display: block;
  }

  .sidenav .hashTag {
    color: #000;
    font-weight: bolder;
    letter-spacing: 0.85px;
    font-family: 'Quicksand',Arial,sans-serif;
  }
  
  .sidenav a:hover {
    color:#16a085;
    text-decoration: underline;
  }

  .sidenav img {
    width: 120px;
    border-radius: 50%;
  }

  @media (max-width: 790px) {
    .sidenav {
        width: 100%;
    }
    img {
      width: 240px;
  }
      
  }